{
    "presets": [
        ["env", {
            "browsers": ["last 2 versions", "ie > 8"],
            "modules": false
        }]
    ],
    "plugins": ["transform-runtime"],
    "comments": false
}